.projects {
  padding-block: 2.5rem;
}

.projects h2 {
  text-align: center;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 1.5rem;
  margin-block: 1rem;
}
